<!--------------- Setup for the table, floor and elements --------------->
<section id="main_container" class="center row">
  <section class="bckg-container">
    <!------- Elements on the table ------->
    <img class="glasses" src="../assets/img/glasess.png" alt="">
    <img class="plant" src="../assets/img/plant-table.png" alt="">
    <img class="coffe" src="../assets/img/coffe.png" alt="">
    <img class="pen" src="../assets/img/pen-clipart-31906.png" alt="">
    <img class="logo" src="../assets/img/personal-logo.ico" alt="">
    <img class="CV" src="../assets/img/picCV.png" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <img class="keys" src="../assets/img/carkeys.png" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <button id="clicker" style="display: none;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
  </section>
</section>
<section>

  <!--------------------- Modal --------------------->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-content">
        <div class="modal-body">

          <!---------------------- CV Content ---------------------->
          <!------- CV content LEFT BANNER ------->
          <section class="container">
            <header class=" row">
              <h1 class="w-100 ps-4 pt-5 center">LUIS LOPEZ</h1>
              <p class="w-100 ps-4 pb-3 center">WEB DEVELOPER</p>
            </header>
            <img class="profilepic" src="../assets/img/Foto Linkedin.jpeg" alt="">
            <section class="right-banner">
            </section>
            <section class="competences">
              <ul><i class="fas fa-dumbbell"></i>X Competences:</ul>
              <li> Web and Software develpoment
              <li> Design of data structures and algorithms
              <li> Strong interdisciplinary skills, including verbal and written
              <li> Strong logistic experience in port and rail operations, handling more than 100 million tons of coal.
              <li> Languages: Spanish and both fluent.
            </section>
            <section class="academic">
              <ul>X Academic Background:</ul>
              <pre><li> Full Stack Web Development Currently <br>       @ Bogotá Institute of Technology</li></pre>
              <pre><li> C Programming <br>       @ Self-taught</li></pre>
              <pre><li>Post graduate diploma in Management <br>       @ Universidad Externado de Colombia</li></pre>
              <pre><li> Bachelor degree in Civil Engineering <br>       @ Universidad del Magdalena</li></pre>
              <pre><li> Bachelor degree in Industrial Engineering <br>       @ Universidad del Magdalena.</li></pre>
              <!-- Coding Bootcamp (HTML, Java Script, CSS, Scrum, JQuery, Node JS, others) -->
            </section>
            <section class="experience">
              <ul>Work Experience:</ul>
              <pre><li> Port Operations Coordinator 2018 – 2021 <br>       @ Sociedad Portuaria Puerto Nuevo S.A.</li></pre>
              <pre><li> Rail Operations Supervisor 2017-2018 <br>       @ C.I. Prodeco ­ Rail</li></pre>
              <pre><li> Port Operations Analyst 2014-2017 <br>       @ Sociedad Portuaria Puerto Nuevo S.A.</li></pre>
              <pre><li> Construction Supervisor 2012 <br>       @ José Luis Campo Civil Engineer.</li></pre>
            </section>
            <section class="footer">
              <div class="social-media"><i class="fa fa-github" aria-hidden="true"></i></div>
            </section>
            <!------- CV content RIGHT BANNER ------->
            <section class="find-me">
              <ul>Contact me:</ul>
              <li><i class="fa fa-phone" aria-hidden="true"></i> (COL) +57 310 316 3757 </li>
              <li><i class="fa fa-mail-reply-all" aria-hidden="true"></i> Ingluisfernandolopez@hotmail.com</li>
              <li><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin.com/in/luislopez0730 .</li>
              <li><i class="fa fa-github" aria-hidden="true"></i> github.com/LuisLopezCol .</li>
              <li><i class="fa fa-address-card" aria-hidden="true"></i> Carrera 7B · 145 – 12, Bogotá.</li>
              <li><i class="fa fa-birthday-cake" aria-hidden="true"></i> Julio 30 de 1991, Santa Marta</li>
            </section>
            <section class="technologies center">
              <ul>Technologies:</ul>
              <div class="logos">
                <div class="w-100 center col">
                  <img class="icons" src="../assets/img/html-5.png" alt="">
                </div>
                <div class="w-100 center">
                  <img class="icons" src="../assets/img/css-3.png" alt="">
                </div>
                <div class="w-100 center">
                  <img class="icons" src="../assets/img/js.png" alt="">
                </div>
                <div class="w-100 center">
                  <img class="icons" src="../assets/img/C.png" alt="">
                </div>
                <div class="w-100 center">
                  <img class="icons" src="../assets/img/AngularJS-Shield.svg" alt="">
                </div>
                <div class="w-100 center">
                  <img class="icons2" src="../assets/img/nodejs.png" alt="">
                </div>
                <div class="w-100 center">
                  <img class="icons" src="../assets/img/express.png" alt="">
                </div>
                <div class="w-100 center">
                  <img class="icons2" src="../assets/img/mongo.png" alt="">
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  var button = document.getElementById("clicker");

  // setTimeout( () => {
  //   button.click();
  // }, 1000);

  setInterval(function () {
    button.click();
  }, 5000)
</script>

<!-- <app-contact></app-contact>
<router-outlet></router-outlet> -->